<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
  <%= plant.name %>
  <%= link_to "+ tag", new_plant_plant_tag_path(plant), class: "card-link-add" %>
  <%= link_to "X", plant_path(plant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-link card-link-delete" %>
  <div class="card-tags">
    <% plant.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
  </div>
</div>
